[Desktop Entry]
Name=Ventoy
Exec=/home/USER_NAME/.local/share/ventoy/ventoy-current/VentoyGUI.x86_64
Terminal=false
Type=Application
Icon=ventoy
StartupWMClass=Ventoy
