[Desktop Entry]
Name=NekoRay
Exec=/home/mono/.nekoray/launcher
Terminal=false
Type=Application
Icon=/home/mono/.nekoray/nekoray.png
StartupWMClass=NekoRay
