[uwsgi]

module: wsgi:app
single-interpreter: true
master: true
listen: 20000
processes: 8
procname: hamdige.server.worker
procname-master: hamdige.server.master
socket: /var/run/hamdige.server/hamdige.server.sock
pidfile: /var/run/hamdige.server/hamdige.server.pid
chmod-socket: 660
socket-timeout: 60
vacuum: true
die-on-term: true
chdir: /var/app_root/hamdige_server/app/
logto: /var/log/hamdige/uwsgi.log
disable-logging: true

# if you want to maintain python threads support without starting multiple
# threads for your application, just add the --enable-threads option.
enable-threads: true

#the stats subsystem allows you to export uwsgi’s internal statistics as json.
stats: 127.0.0.1:9191

# it is a monitor (managed by the master process) that will destroy
# processes stuck for more than the specified number of seconds.
harakiri: 30

# allows you to free your workers as soon as possible when some
# specific pattern matches and can be delegated to a pure-c thread.
####offload-threads: 8

#plugins-dir: /usr/lib/uwsgi/plugins/python37_plugin.so
####plugin: python37

# worker is notified by uwsgi before being cheaped.
# worker should finish until timeout is reached.
####worker-reload-mercy: 30

# set cheaper algorithm to use, if not set default will be used.
####cheaper-algo: spare

# if all workers are busy for 'cheaper_overload' seconds then uwsgi will
# spawn new workers. when the load is gone it will begin stopping processes one at a time.
####cheaper_overload: 30

# minimum number of workers to keep at all times.
####cheaper: 4

# number of workers to spawn at startup.
####cheaper-initial: 6

# maximum number of workers that can be spawned.
####workers: 12

# how many workers should be spawned at a time.
####cheaper-step: 2

# soft limit will prevent cheaper from spawning new workers.
# if workers total rss memory is equal or higher
# we use 128MB soft limit below (values are in bytes).
####cheaper-rss-limit-soft: 134217728

# hard limit will force cheaper to cheap single worker.
# if workers total rss memory is equal or higher
# we use 160MB hard limit below (values are in bytes).
####cheaper-rss-limit-hard: 167772160

####log-5xx: true
####log-4xx: true
####thunder-lock: true
####threads: 1
####daemonize: /var/log/hamdige/daemon.log
####protocol: http
####http: hamdige.server:9081
####vhost: true
####max-requests: 5000
####buffer-size: 32768
####chown-socket: www-data
